<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="modal-user-edit" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div th:replace=" :: form-modal"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-modal-edit-submit">Update</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modal-user-delete" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div th:replace=" :: form-modal"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btn-modal-delete-submit">Delete</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="user-new" class="card new-user-form">
    <div class="card-header">
        <h5 class="card-title">Add new user</h5>
    </div>
    <div class="card-body justify-content-md-center">
        <div class="row">
            <div class="col-md-3">

                <p class="card-text">

                    <div th:replace=" :: form-modal"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-new-user-submit">Create</button>
                    </div>
                </p>

            </div>
        </div>

    </div>
</div>

<div th:fragment="users-table" class="card">
    <div class="card-header">
        <h5 class="card-title">All users</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody id="users-table">

            </tbody>
        </table>
        </p>
    </div>
</div>

<div th:fragment="user-table" class="card">
    <div class="card-header">
        <h5 class="card-title">About user</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.rolesToString()}"></td>
                </tr>
        </table>
        </p>
    </div>
</div>

<div th:fragment="test-security-block">
    <div class="row">
        <div class="col">authenticated users:</div>
        <div sec:authorize="isAuthenticated()" class="col">
            This content is only shown to authenticated users.
        </div>
    </div>
    <div class="row">
        <div class="col">administrators:</div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="col">
            This content is only shown to administrators.
        </div>
    </div>
    <div class="row">
        <div class="col">users:</div>
        <div sec:authorize="hasRole('ROLE_USER')" class="col">
            This content is only shown to users.
        </div>
    </div>
</div>

<form th:fragment="form-modal">
    <fieldset>
        <div class="form-group">
            <label class="col-form-label">Id:</label>
            <input type="text" class="form-control" name="id" disabled>
        </div>
        <div class="form-group">
            <label class="col-form-label">Username:</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label class="col-form-label">name:</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <div class="form-group">
            <label class="col-form-label">Age:</label>
            <input type="number" class="form-control" name="age">
        </div>
        <div class="form-group">
            <label class="col-form-label">Password:</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="my-form-role-group">

        </div>
    </fieldset>
</form>


</body>
</html>