<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="logout"><p><a href="/logout">Logout</a></p></div>

<div th:fragment="copy"><p>© 2020 Stanislav Paliutin</p></div>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:text="${user.name}+' '+${user.lastName} + ' roles:' + ${user.rolesToString()}">Navbar brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/hello">Hello page <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <a class="nav-link" href="/logout">Logout</a>
    </span>
    </div>
</nav>

<div th:fragment="modal-user-edit" class="modal fade" th:id="'editModal' + ${user.id}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="@{/admin/users/{id}(id=${user.id})}" class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user_name_label">Username: </label>
                        <input name="username" th:value="${user.username}" type="text" id="user_name_label" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pass_label">Password: </label>
                        <input name="password" type="password" id="pass_label" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirm_pass_label">Confirm Password: </label>
                        <input name="confirm_password" type="password" id="confirm_pass_label" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name_label">Name: </label>
                        <input name="name" th:value="${user.name}" type="text" id="name_label" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastname_label">Lastname: </label>
                        <input name="lastName" th:value="${user.lastName}" type="text" id="lastname_label" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="age_label">Age: </label>
                        <input name="age" th:value="${user.age}" type="number" id="age_label" class="form-control">
                    </div>

                    Roles:
                    <th:block th:each="role : ${roles}">
                        <p><input type="checkbox" name="roles_checkbox"
                                  th:value="${role.name}"
                                  th:text="${role.name}"
                                  th:checked="${user.roles.contains(role)}"></p>
                    </th:block>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modal-user-delete" class="modal fade" th:id="'deleteModal' + ${user.id}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="@{/admin/users/{id}/delete(id=${user.id})}" class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user_name_label">Username: </label>
                        <input name="username" th:value="${user.username}" type="text" id="user_name_label" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name_label">Name: </label>
                        <input name="name" th:value="${user.name}" type="text" id="name_label" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="lastname_label">Lastname: </label>
                        <input name="lastName" th:value="${user.lastName}" type="text" id="lastname_label" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="age_label">Age: </label>
                        <input name="age" th:value="${user.age}" type="number" id="age_label" class="form-control" disabled>
                    </div>

                    Roles:
                    <th:block th:each="role : ${roles}">
                        <p><input type="checkbox" name="roles_checkbox" disabled
                                  th:value="${role.name}"
                                  th:text="${role.name}"
                                  th:checked="${user.roles.contains(role)}"></p>
                    </th:block>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="user-new" class="card">
    <div class="card-header">
        <h5 class="card-title">Add new user</h5>
    </div>
    <div class="card-body justify-content-md-center">
        <div class="row">
            <div class="col-md-3">

                <p class="card-text">
                    <form method="post" action="/admin/users" th:object="${new_user}" class="form">
                        <div class="form-group">
                            <label for="user_name_label">Username: </label>
                            <input th:field="*{username}" type="text" id="user_name_label" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pass_label">Password: </label>
                            <input th:field="*{password}" id="pass_label" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirm_pass_label">Confirm Password: </label>
                            <input name="confirm_password" id="confirm_pass_label" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name_label">Name: </label>
                            <input th:field="*{name}" type="text" id="name_label" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lastname_label">Lastname: </label>
                            <input th:field="*{lastName}" type="text" id="lastname_label" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="age_label">Age: </label>
                            <input th:field="*{age}" type="number" id="age_label" class="form-control">
                        </div>

                        Roles:
                        <th:block th:each="role : ${roles}">
                            <p><input type="checkbox" name="roles_checkbox"
                                      th:value="${role.name}"
                                      th:text="${role.name}"
                                      th:checked="${new_user.roles.contains(role)}"></p>
                        </th:block>

                        <input type="submit" value="Add user" class="btn btn-primary">
                    </form>
                </p>

            </div>
        </div>

    </div>
</div>

<div th:fragment="users-table" class="card">
    <div class="card-header">
        <h5 class="card-title">All users</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <th:block th:each="user : ${users}">
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.rolesToString()}"></td>
                    <td>

                        <button type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target='#editModal' + ${user.id}">
                            Edit
                        </button>

                        <!-- Modal -->
                        <div th:replace="component :: modal-user-edit"></div>

                    </td>
                    <td>

                        <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#deleteModal' + ${user.id}">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div th:replace="component :: modal-user-delete"></div>

                    </td>
                </tr>
            </th:block>
        </table>
        </p>
    </div>
</div>

<div th:fragment="user-table" class="card">
    <div class="card-header">
        <h5 class="card-title">About user</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.rolesToString()}"></td>
                </tr>
        </table>
        </p>
    </div>
</div>

<div th:fragment="test-block">
    <div class="row">
        <div class="col">authenticated users:</div>
        <div sec:authorize="isAuthenticated()" class="col">
            This content is only shown to authenticated users.
        </div>
    </div>
    <div class="row">
        <div class="col">administrators:</div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="col">
            This content is only shown to administrators.
        </div>
    </div>
    <div class="row">
        <div class="col">users:</div>
        <div sec:authorize="hasRole('ROLE_USER')" class="col">
            This content is only shown to users.
        </div>
    </div>
</div>

</body>
</html>